In [1]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv(r'C:\Users\Drashti Mahyavanshi\Documents\House_Price_Prediction\test.csv')

In [13]:
data.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,3.0,2850.0,sqft,4200.00,sqft,98119,1175000.0
1,4,5.0,3040.0,sqft,5002.00,sqft,98106,1057500.0
2,3,1.0,1290.0,sqft,6048.00,sqft,98125,799000.0
3,3,2.0,2360.0,sqft,0.28,acre,98188,565000.0
4,3,3.5,1942.0,sqft,1603.00,sqft,98107,1187000.0

In [14]:
data.shape

(505, 8)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   beds            505 non-null    int64
 1   baths           505 non-null    float64
 2   size            505 non-null    float64
 3   size_units      505 non-null    object
 4   lot_size        428 non-null    float64
 5   lot_size_units  428 non-null    object
 6   zip_code        505 non-null    int64
 7   price           505 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 31.7+ KB

In [16]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

beds
3    173
2    126
4    108
1     55
5     33
7      6
6      3
9      1
Name: count, dtype: int64
********************
baths
2.0    140
1.0    110
2.5     96
3.0     52
1.5     40
3.5     36
4.0     11
5.0      8
4.5      5
6.0      3
5.5      2
7.0      1
6.5      1
Name: count, dtype: int64
********************
size
2480.0    4
1240.0    4
1540.0    4
1200.0    4
1800.0    4
         ..
921.0     1
1892.0    1
2230.0    1
2867.0    1
1301.0    1
Name: count, Length: 375, dtype: int64
********************
size_units
sqft    505
Name: count, dtype: int64
********************
lot_size
5000.00    14
4000.00    14
6000.00     8
1.00        6
0.25        5
           ..
6656.00     1
8057.00     1
6755.00     1
9130.00     1
4887.00     1
Name: count, Length: 314, dtype: int64
********************
lot_size_units
sqft    369
acre     59
Name: count, dtype: int64
********************
zip_code
98103    48
98115    39
98117    38
98125    29
98122    29
98199    25
98126    22
98144    21
98118    20
98119    19
98102    19
98136    17
98107    17
98178    16
98106    15
98146    15
98105    15
98121    14
98109    13
98108    13
98116    12
98112    12
98133    12
98177     8
98168     7
98101     5
98104     3
98188     1
98164     1
Name: count, dtype: int64
********************
price
875000.0     8
700000.0     7
750000.0     7
1025000.0    6
900000.0     6
            ..
692500.0     1
1108000.0    1
2334500.0    1
545000.0     1
1807000.0    1
Name: count, Length: 322, dtype: int64
********************

In [17]:
data.isnull().sum()

beds               0
baths              0
size               0
size_units         0
lot_size          77
lot_size_units    77
zip_code           0
price              0
dtype: int64